<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<h1>Delete Page Injection</h1>
<p>You are about to delete the page injection</p>
<table>
    <thead>
    <th>ID</th>
    <th>TYPE</th>
    <th>PAGE</th>
    <th>PRIORITY</th>
    </thead>
    <tbody>
    <tr>
        <td th:text="${pageinjection.id}"></td>
        <td th:text="${pageinjection.type}"></td>
        <td th:text="${pageinjection.page}"></td>
        <td th:text="${pageinjection.priority}"></td>

    </tr>
    <tr>
        <th colspan="4">
            DATA
        </th>
    </tr>
    <tr>
        <td colspan="4" th:text="${pageinjection.data}"></td>
    </tr>
    </tbody>
</table>

<p>Please confirm.</p>

<form method="post" action="../../delete/">
    <input type="hidden" name="id" th:value="${pageinjection.id}">
    <input type="submit" value="Delete" class="btn-primary form-control">
</form>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>