<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<h1>Page Injections</h1>
<th:block th:include="/admin/msselector.html" th:tag="remove"></th:block>
<th:block th:if="${selectedmicroserviceid != 0}">
    <a href="create/">create</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TYPE</th>
                <th>PAGE</th>
                <th>PRIORITY</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pageinjection:${pageinjections}">
                <td th:text="${pageinjection.id}"></td>
                <td th:text="${pageinjection.type}"></td>
                <td th:text="${pageinjection.page}"></td>
                <td th:text="${pageinjection.priority}"></td>
                <td><a th:href="'view/' + ${pageinjection.id}">VIEW</a></td>
                <td><a th:href="'edit/' + ${pageinjection.id}">EDIT</a></td>
                <td><a th:href="'delete/' + ${pageinjection.id}">DELETE</a></td>
            </tr>
        </tbody>
    </table>

    <p>We got a value! Lets show stuff!</p>
</th:block>
<th:block th:if="${selectedmicroserviceid == 0}">
    <p>Please select a MicroService.</p>
</th:block>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>
