<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>View Page Injections</h1>
    <th:block th:if="${selectedmicroserviceid != 0}">
        <a href="../../" class="button right">Back</a>
    </th:block>
</div>
<table>
    <tr>
        <th colspan="4">
            MicroService
        </th>
    </tr>
    <tr>
        <td colspan="4" th:text="${selectedmicroservice.name}"></td>
    </tr>
    <tr>
        <th>ID</th>
        <th>TYPE</th>
        <th>PAGE</th>
        <th>PRIORITY</th>
    </tr>
    <tr>
        <td th:text="${pageinjection.id}"></td>
        <td th:text="${pageinjection.type}"></td>
        <td th:text="${pageinjection.page}"></td>
        <td th:text="${pageinjection.priority}"></td>

    </tr>
    <tr>
        <th colspan="4">
            DATA
        </th>
    </tr>
    <tr>
        <td colspan="4" th:text="${pageinjection.data}"></td>
    </tr>
</table>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>