<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Delete Action</h1>
    <th:block th:if="${selectedmicroserviceid != 0}">
        <a href="../../" class="button right">Back</a>
    </th:block>
</div>
<p>You are about to delete the action</p>
<table>
    <tr>
        <th colspan="4">
            MicroService
        </th>
    </tr>
    <tr>
        <td colspan="4" th:text="${selectedmicroservice.name}"></td>
    </tr>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CALLBACKURL</th>
        <th>PRIORITY</th>
    </tr>
    <tr>
        <td th:text="${action.id}"></td>
        <td th:text="${action.actionname}"></td>
        <td th:text="${action.callbackurl}"></td>
        <td th:text="${action.priority}"></td>

    </tr>
</table>

<p>Please confirm.</p>

<form method="post" action="../../delete/">
    <input type="hidden" name="id" th:value="${action.id}">
    <input type="submit" value="Delete" class="btn-primary form-control">
</form>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>