<th:block th:include="admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Actions</h1>
    <th:block th:if="${selectedmicroserviceid != 0}">
        <a href="create/" class="button right">Create Action</a>
    </th:block>
</div>

<th:block th:include="admin/msselector.html" th:tag="remove"></th:block>
<th:block th:if="${selectedmicroserviceid != 0}">
    <br/>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>CALLBACKURL</th>
                <th>PRIORITY</th>
                <th class="invisible"></th>
                <th class="invisible"></th>
                <th class="invisible"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="action:${actions}">
                <td th:text="${action.id}"></td>
                <td th:text="${action.actionname}"></td>
                <td th:text="${action.callbackurl}"></td>
                <td th:text="${action.priority}"></td>
                <td class="invisible"><a th:href="'view/' + ${action.id} + '/'" class="button">VIEW</a></td>
                <td class="invisible"><a th:href="'edit/' + ${action.id} + '/'" class="button">EDIT</a></td>
                <td class="invisible"><a th:href="'delete/' + ${action.id} + '/'" class="button">DELETE</a></td>
            </tr>
        </tbody>
    </table>
</th:block>
<th:block th:if="${selectedmicroserviceid == 0}">
    <p>Please select a MicroService.</p>
</th:block>
<th:block th:include="admin/footer.html" th:tag="remove"></th:block>
