<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html { visibility:hidden; }
    </style>
    <script th:src="@{/js/jquery_3_4_1.js}"></script>
    <script th:src="@{/js/default.js}"></script>
    <script>
        $(document).ready(function() {
            document.getElementsByTagName("html")[0].style.visibility = "visible";
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css">
    <style th:inline="text" th:each="pageinjection_css: ${pageinjections_css}" th:if="pageinjection_css.data != null">
        [[${pageinjection_css.data}]]
    </style>
</head>
<div class="header">
    <div class="header_nav header_nav-lg">
        <span class="logo">Københavns Erhvervsakademi</span>
        <span style="float: right">
            <a href="https://mit.kea.dk/">For studerende</a>
            <a href="https://kea.dk/keanet">For ansatte</a>
            <a href="https://bibliotek.kea.dk/da/">Bibliotek</a>
            <a href="https://kea.dk/om-kea/job-p%C3%A5-kea">Job</a>
            <a href="https://kea.dk/om-kea/kontakt">Kontakt</a>
        </span>
    </div>
    <div class="headermenu">
        <a href="/" class="kea_orange homelogo-lg"><img th:src="@{/images/logo-main-black-single.png}" class="kea_orange headermenu_logo-lg"></a>

        <div th:each="link: ${topmenu}" class="headermenu_nav">
            <a th:href="${link.path}" th:text="${link.text}" th:alt="${link.description}"></a>
        </div>
        <div id="menu_language_wrapper">
            <a id="menu_language" th:text="${alternativelanguage}" href='javascript: $("#setLanguage").submit();'></a>
            <form style="display: none" id="setLanguage" action="/setLanguage" method="post">
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="language" th:value="${alternativelanguage}">
            </form>
        </div>
        <th:block th:if="${authenticated}">
            <div id="menu_logout_wrapper">
                <a href="/logout" id="menu_logout" class="">Log ud</a>
            </div>
        </th:block>
        <div id="menu_settings_wrapper">
            <a th:href="'/settings.dk'" id="menu_settings" class="kea_orange">Indstillinger</a>
        </div>
    </div>
</div>
<th:block th:unless="${authenticated}">
    <div class="headersubmenu">
        <form method="post" action="/login" class="login">
            Login: Bruger <input type="text" name="identifier">
            Kodeord <input type="password" name="password">
            <input type="submit" value="Login" id="bsubmit">
        </form>
    </div>
</th:block>
<div class="content">