<th:block th:include="admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Users</h1>
</div>
<table id="example">
    <thead>
    <tr>
        <th>ID</th>
        <th>DISPLAYNAME</th>
        <th>IDENTIFIER</th>
        <th>Email</th>
        <th>LANGUAGE</th>
        <th>GROUPS</th>
        <th class="invisible"></th>
        <th class="invisible"></th>
        <th class="invisible"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.displayname}"></td>
        <td th:text="${user.identifier}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.language}"></td>

        <td>
            <th:block th:each="grp, iter: ${user.groups}" th:remove="tag">
                <th:block th:text="${grp.name}" th:if="${iter.index == 0}"></th:block>
                <th:block th:text="${', ' + grp.name}" th:if="${iter.index > 0}"></th:block>
            </th:block>
        </td>

        <td class="invisible"><a th:href="'view/' + ${user.id} + '/'" class="button">VIEW</a></td>
        <td class="invisible"><a th:href="'edit/' + ${user.id} + '/'" class="button">EDIT</a></td>
        <td class="invisible"><a th:href="'delete/' + ${user.id} + '/'" class="button">DELETE</a></td>
    </tr>
    </tbody>
</table>

<th:block th:include="admin/footer.html" th:tag="remove"></th:block>
