body{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue Condensed",sans-serif;
}
table, th, td {
  border: 1px solid black;
}
table{
	border-collapse: collapse;
}
td{
	padding: 10px;
	vertical-align: top;
}
td.noborder{
	border: 0px;
}
hr{
	border: 1px dotted black;
}
table.weekly{
	width: 1000px;
	margin-bottom: 30px;
}

img.check{
	height: 12px;
	padding-right: 3px;
}
p.coursetitle{
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

p.courselocation{
	font-weight: none;
	font-style: italic;
	margin: 0px;
	padding: 0px;
}

p.courseteacher{
	font-weight: none;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
}

p.coursehomework{
	font-weight: none;
	margin: 0px;
	padding: 0px;
}

div.headermenu{
	border-bottom: 1px solid silver;
	background: #233249;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.headermenu a{
	padding: 20px;
}

div.headermenu_right{
 	height: 100%;
	margin-left: auto;
}

a.headermenu_language{
	height: 100%; 
	background-color: white; 
	color: orange !important;
	padding: 0px;
	margin: 0px;
}
span.headermenu_user{
	height: 100%; 
	background-color: orange; 
	color: black;
	padding: 0px;
	margin: 0px;
}

span.headermenu_usersettings{
	display: none;
}

div.headersubmenu{
	margin: 0px auto;
	width: 1000px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	background: #233249;
	padding: 5px;
	color: white;
}
div.content{
	margin: 0px auto;
	width: 1000px;
	margin-top: 15px;
	padding: 0px;
}
th.weeknumberactive{
	background: lightgray;
}

th.weeknumber{
}


th.past{
}

th.present{
	background: lightgray;
}

td.notread{
	background: red;
}

td.read{
	background: green;
}

div.headersubmenu h2{
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.headersubmenu h3, h4{
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	display: inline-block;
}

div.module{
	display: inline-block;
	vertical-align: top;
}

div.headersubmenu input[type=checkbox]{
	margin-top: 5px;
}

div.keatop{
	background-color: #c8d0d8;
	padding: 10px;
}

div.keatop a,div.keatop a:visited,div.keatop a:link{
	color: #234165;
	font-weight: bold;
	text-decoration: none;
	font-family: "Helvetica Neue Condensed",sans-serif;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
}

div.keatop a:hover{
	color: #ea5045
}

div.keatop span.logo{
	color: #234165
	font-weight: bold;
	font-size: 16px;
	font-family: "Helvetica Neue Condensed",sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

div.headermenu a,div.headermenu a:visited,div.headermenu a:link{
	color: white;
	vertical-align: center;
	font-weight: bold;
	text-decoration: none;
	font-family: "Helvetica Neue Condensed",sans-serif;
	font-weight: bold;
	font-size: 20px;

}

div.headermenu a:hover{
	color: #ea5045
}


a.module,a.module:visited,a.module:link{
	margin: 0px;
	padding: 0px;
}

.kea_orange{
	background-color: #ea5045;
}

.nomargin
{
	margin: 0px;
}

.nopadding{
	padding: 0px;
}

div.headermenu img{
padding-left: 10px; padding-right: 10px;
}

a, a:visited, a:link{
	color: white;
	text-decoration: underline;
}

a:hover{
	color: #ea5045
}

div.content a, div.content a:visited, div.content a:link{
	color: black;
	text-decoration: underline;
}

div.content a:hover{
	color: #ea5045
}

div.pageoptions{
	margin: 0px auto;
	width: 1000px;
	padding-bottom: 70px;
}

div.pageoptions img{
	height: 30px;
	float: right;
	padding: 10px;
}