<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Microservices</h1>
    <a href="create/" class="button right">Create Microservice</a>
</div>

<th:block th:include="/admin/msselector.html" th:tag="remove"></th:block>
<th:block th:if="${selectedmicroserviceid != 0}">
    <br/>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>PORT</th>
                <th>VERSION</th>
                <th>DESCRIPTION</th>
                <th class="invisible"></th>
                <th class="invisible"></th>
                <th class="invisible"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="microservice:${microservices}">
                <td th:text="${microservice.id}"></td>
                <td th:text="${microservice.port}"></td>
                <td th:text="${microservice.version}"></td>
                <td th:text="${microservice.description}"></td>
                <td class="invisible"><a th:href="'view/' + ${microservice.id} + '/'" class="button">VIEW</a></td>
                <td class="invisible"><a th:href="'edit/' + ${microservice.id} + '/'" class="button">EDIT</a></td>
                <td class="invisible"><a th:href="'delete/' + ${microservice.id} + '/'" class="button">DELETE</a></td>
            </tr>
        </tbody>
    </table>
</th:block>
<th:block th:if="${selectedmicroserviceid == 0}">
    <p>Please select a MicroService.</p>
</th:block>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>
