<th:block th:include="/global/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Manage Lectures</h1>
    <a href="../index" class="button right">Back</a>
    <a href="create" class="button right">Create</a>
</div>
<th:block th:include="/teacher/courseSelector.html" th:tag="remove"></th:block>
<br/>
<th:block th:if="${selectedcourseid != 0}">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>START</th>
            <th>END</th>
            <th>LOCATION</th>
            <th>TEACHER(S)</th>
            <th>SUBJECTS / ITEMS</th>
            <th class="invisible"></th>
        </tr>
    </thead>
    <tbody>
    <th:block th:each="lecture:${lectures}">
        <tr>
            <td rowspan="4" th:text="${lecture.id}"></td>
            <td rowspan="4" th:text="${#temporals.format(lecture.startdatetime, 'yyyy-MM-dd HH:mm')}"></td>
            <td rowspan="4" th:text="${#temporals.format(lecture.enddatetime, 'yyyy-MM-dd HH:mm')}"></td>
            <td rowspan="4" th:text="${lecture.location}"></td>
            <td rowspan="4">
                <th:block th:each="teacher, iter: ${lecture.getTeachers()}" th:remove="tag"><th:block th:text="${teacher.displayname}" th:if="${iter.index == 0}"></th:block><th:block th:text="${', ' + teacher.displayname}" th:if="${iter.index > 0}"></th:block></th:block>
            </td>
            <td rowspan="4">
                <table>
                    <th:block th:each="subject, iter: ${lecture.getLecturesubjects()}" th:remove="tag">
                        <tr>
                           <th th:text="${subject.subject}"></th>
                        </tr>
                        <tr th:each="item : ${subject.lectureitems}">
                            <td th:text="${item.description}"></td>
                        </tr>

                    </th:block>
                </table>

            </td>
            <td class="invisible">
                <form method="post" action="../subjects/index" >
                    <input type="hidden" name="selectedlectureid" th:value="${lecture.id}">
                    <input type="submit" value="Manage&nbsp;Subjects" class="button">
                </form>
                <!--<a th:href="'../subjects/index'" class="button">Manage&nbsp;Subjects</a></td>-->
        </tr>

        <tr>
            <td class="invisible"><a th:href="'view/' + ${lecture.id} + '/'" class="button">VIEW</a></td>
        </tr>
        <tr>
            <td class="invisible"><a th:href="'edit/' + ${lecture.id} + '/'" class="button">EDIT</a></td>
        </tr>
        <tr>
            <td class="invisible"><a th:href="'delete/' + ${lecture.id} + '/'" class="button">DELETE</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</th:block>
<th:block th:unless="${selectedcourseid != 0}">
    <p>Please select a course to be able to manage lectures under it.</p>
</th:block>
<th:block th:include="/global/footer.html" th:tag="remove"></th:block>