<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Internal access</h1>
this is setup/install of MS.

<h2>Install</h2>
Install the MS. This will sync the database with the rest of the infrastructure and setup the MS in the infrastructure.<br/>
<form method="post" action="install">
    <input type="submit" value="install">
</form>

<h2>Setup</h2>
Setup the MS. This will setup the MS in the infrastructure.<br/>
<form method="post" action="setup">
    <input type="submit" value="setup">
</form>
</body>
</html>