<th:block th:include="admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Create Actions</h1>
    <th:block th:if="${selectedmicroserviceid != 0}">
        <a href="../" class="button right">Back</a>
    </th:block>
</div>
<label>MicroService:</label>
<p th:text="${selectedmicroservice.name}" class="disabledinput"></p>
<form method="post" action="" th:object="${action}">
    <input type="text" name="microservice.id" id="microservice.id" th:value="${selectedmicroserviceid}" style="display:none;">
    <label>Action Name:</label>
    <input type="text" th:field="*{actionname}">
    <p class="errortext" th:if="${#fields.hasErrors('actionname')}">The max length of the action name is XXXX characters.</p>
    <label>Callback URL:</label>
    <textarea th:field="*{callbackurl}"></textarea>
    <p class="errortext" th:if="${#fields.hasErrors('callbackurl')}">The max length of the callback url is XXXX characters.</p>
    <label>Priority:</label>
    <input type="text" th:field="*{priority}">
    <p class="errortext" th:if="${#fields.hasErrors('priority')}">The max value of the priority 1000.</p>
    <input type="submit" value="Edit">
</form>
<th:block th:include="admin/footer.html" th:tag="remove"></th:block>