<th:block th:include="admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>View Actions</h1>
    <th:block th:if="${selectedmicroserviceid != 0}">
        <a href="../../" class="button right">Back</a>
    </th:block>
</div>
<table>
    <tr>
        <th colspan="4">
            MicroService
        </th>
    </tr>
    <tr>
        <td colspan="4" th:text="${action.microservice.name}"></td>
    </tr>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CALLBACKURL</th>
        <th>PRIORITY</th>
    </tr>
    <tr>
        <td th:text="${action.id}"></td>
        <td th:text="${action.actionname}"></td>
        <td th:text="${action.callbackurl}"></td>
        <td th:text="${action.priority}"></td>

    </tr>
</table>
<th:block th:include="admin/footer.html" th:tag="remove"></th:block>