<th:block th:include="global/header.html" th:tag="remove"></th:block>
<h1>Manage course</h1>
<th:block th:if="${userid == 0}" th:tag="remove">
    <p>Please login to manage courses.</p>
</th:block>
<th:block th:if="${userid > 0}" th:tag="remove">
<th:block th:include="teacher/courseSelector.html" th:tag="remove"></th:block>
<th:block th:if="${selectedcourseid != 0}">
    <h2>Lectures</h2>
    <ul>
        <li><a href="./lectures/create/">Create lectures</a></li>
        <li><a href="./lectures/index">Manage lectures</a></li>
    </ul>
    <h2>Upload course plan</h2>
    <form method="post" enctype="multipart/form-data" action="uploadcoursecsv">
        <input type="file" name="courseplancsv"><input type="submit" value="Upload">
    </form>

    <p>Note: Please make sure that the CSV file is adherent to the CSV structured defined in <a href="./qa">Q&A</a>.</p>
    <p>Note: By uploading a course plan, you remove all lectures that are currently saved to the course.</p>
</th:block>
<h2>Help</h2>
For getting started or needing help please go to <a href="./qa">Q&A</a>.
</th:block>
<th:block th:include="global/footer.html" th:tag="remove"></th:block>