<th:block th:include="/global/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1 class="schedule">Create lecture</h1>
    <a href="../index" class="button right">Back</a>
</div>
<label>Course:</label>
<p th:text="${selectedcourse.name}" class="disabledinput"></p>
<form class="schedule" method="post" action="" th:object="${lecture}">
    <input type="text" name="lecture.id" id="lecture.id" th:value="${selectedlectureid}" style="display:none;">

    <input type="submit" value="Create">
</form>
<th:block th:include="/global/footer.html" th:tag="remove"></th:block>