/* General CSS: Start */
body{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #233249;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
}
table{
	border-collapse: collapse;
}
td{
	padding: 10px;
	vertical-align: top;
}
td.noborder{
	border: 0px;
}
hr{
	border: 1px dotted black;
}

img{
	vertical-align: middle;
}

.kea_orange{
	background-color: #ea5045;
}

.nomargin
{
	margin: 0px;
}

.nopadding{
	padding: 0px;
}
/* General CSS: End */

/* Header CSS: Start */
div.header{
	display: block;
	margin: 0px;
	padding: 0px;
}

/*+++ Header Navigation bar: Start */
div.header_nav{
	color: #234165;
	background-color: #c8d0d8;
	line-height: 1.6;
	font-weight: bold;
	text-decoration: none;
	font-family: "Helvetica Neue Condensed",sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.5px;
}

div.header_nav-lg{
	padding-left: 30px;
	padding-right: 15px;
}



div.header_nav a,div.header_nav a:visited,div.header_nav a:link{
	color: #234165;
	text-decoration: none;
    padding-left: 15px;
}

div.header_nav a:hover{
	color: #ea5045;
	text-decoration: none;
}



/*+++ Header Navigation bar: Start */

/*+++ Header menu bar: Start */

div.headermenu{
	border-bottom: 1px solid silver;
	background: #233249;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	border: 0px;
}

div.headermenu_nav{
	display: flex;
	align-items: center;
	border: 0px;
	margin: 0px;
	padding: 0px;
}


img.headermenu_logo-lg{
	height: 45px;
	padding: 0px;
	margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

div.headermenu a,
div.headermenu a:visited,
div.headermenu a:link{
	color: white;
	vertical-align: center;
	font-weight: bold;
	text-decoration: none;
	font-family: "Helvetica Neue Condensed",sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

div.headermenu a:hover{
	color: #ea5045
}
#headermenu_right{
	display: flex;
	align-items: center;
	border: 0px;
	margin: 0px;
	margin-left: auto;
	padding: 0px;
}

#menu_language_wrapper{
	background-color: white;
	display: flex;
	align-items: center;
	border: 0px;
	margin: 0px;
	margin-left: auto;
	padding: 0px;
}

#menu_language{
	background-color: white;
	color: #ea5045; !important;
	margin-left: auto;
	text-transform: uppercase;
}

#menu_logout_wrapper{
	background-color: #ea5045;
	display: flex;
	align-items: center;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#menu_logout{
	background-color: #ea5045;
	color: black;
}

#menu_settings_wrapper{
	background-color: #ea5045;
	display: flex;
	align-items: center;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#menu_settings{
	background-color: #ea5045;
	color: black;
}
/*+++ Header menu bar: End */
/* Header CSS: End */

/* Header Submenu CSS: Start */
div.headersubmenu{
	text-align: center;
	margin: 0px auto;
	width: 600px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 5px;
	color: white;
	border-top: 1px dotted black;
	border-left: 1px solid #233249;
	border-right: 1px solid #233249;
	border-bottom: 1px solid #233249;
	color: white;
	font-weight: bolder;
	background-color: #233249;
}

form.login #bsubmit{
	color: #233249;
	font-weight: bolder;
	background-color: white;
	border: 1px solid black;
	padding: 3px;
}

div.headersubmenu h2{
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.headersubmenu h3, h4{
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	display: inline-block;
}

div.module{
	display: inline-block;
	vertical-align: top;
}

div.headersubmenu input[type=checkbox]{
	margin-top: 5px;
}

a.module,a.module:visited,a.module:link{
	margin: 0px;
	padding: 0px;
	color: black;
	text-decoration: none;
}
/* Header Submenu CSS: End */


/* Content CSS: Start*/
div.content{
	margin: 0px auto;
	width: 1450px;
	margin-top: 15px;
	padding: 0px;
}



div.content a,
div.content a:visited,
div.content a:link{
	color: black;
	text-decoration: underline;
}

div.content a:hover{
	color: #ea5045
}

/* Content CSS: End */



table.weekly{
	width: 1000px;
	margin-bottom: 30px;
}

img.check{
	height: 12px;
	padding-right: 3px;
}
p.coursetitle{
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

p.courselocation{
	font-weight: normal;
	font-style: italic;
	margin: 0px;
	padding: 0px;
}

p.courseteacher{
	font-weight: normal;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
}

p.coursehomework{
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}



th.weeknumberactive{
	background: lightgray;
}

th.weeknumber{
}


th.past{
}

th.present{
	background: lightgray;
}

td.notread{
	background: red;
}

td.read{
	background: green;
}






