<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Delete Groupn</h1>
    <a href="../../" class="button right">Back</a>
</div>
<p>You are about to delete the Group</p>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>METADATA</th>
    </tr>
    <tr>
        <td th:text="${group.id}"></td>
        <td th:text="${group.name}"></td>
        <td th:text="${group.metadata}"></td>
    </tr>
    <tr>
        <th colspan="3">Description</th>
    </tr>
    <tr>
        <td colspan="3" th:text="${group.description}"></td>
    </tr>
    <th:block th:if="${group.users != null and 0 &lt; group.getUsers().size()}">
        <tr>
            <th colspan="3">Users</th>
        </tr>
        <tr th:each="user : ${group.users}">
            <td colspan="3" th:text="${user.displayname}"></td>
        </tr>
    </th:block>
    <th:block th:if="${group.groups != null and 0 &lt; group.getGroups().size() }">
        <tr>
            <th colspan="3">Groups</th>
        </tr>
        <tr th:each="grp: ${group.groups}">
            <td colspan="3" th:text="${grp.name}"></td>
        </tr>
    </th:block>
</table>

<p>Please confirm.</p>

<form method="post" action="../../delete/">
    <input type="hidden" name="id" th:value="${group.id}">
    <input type="submit" value="Delete" class="btn-primary form-control">
</form>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>