<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>File Resource</h1>
    <th:block th:if="${selectedmicroserviceid != 0}">
        <a href="create/" class="button right">Create FileResource</a>
    </th:block>
</div>

<th:block th:include="/admin/msselector.html" th:tag="remove"></th:block>
<th:block th:if="${selectedmicroserviceid != 0}">
    <br/>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FILENAME</th>
                <th>TYPE</th>
                <th>EXTENSION</th>
                <th class="invisible"></th>
                <th class="invisible"></th>
                <th class="invisible"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="fileresource:${fileresources}">
                <td th:text="${fileresource.id}"></td>
                <td th:text="${fileresource.filename}"></td>
                <td th:text="${fileresource.type}"></td>
                <td th:text="${fileresource.extension}"></td>
                <td class="invisible"><a th:href="'view/' + ${fileresource.id} + '/'" class="button">VIEW</a></td>
                <td class="invisible"><a th:href="'edit/' + ${fileresource.id} + '/'" class="button">EDIT</a></td>
                <td class="invisible"><a th:href="'delete/' + ${fileresource.id} + '/'" class="button">DELETE</a></td>
            </tr>
        </tbody>
    </table>
</th:block>
<th:block th:if="${selectedmicroserviceid == 0}">
    <p>Please select a MicroService.</p>
</th:block>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>
