<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Service Registration</h2>
<p th:text="${microservice.getName()} + ' can be contacted on localhost: ' + ${microservice.getPort()}"></p>
<h3>The following services are available</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Port</th>
    </tr>
    <tr th:each="ms: ${microservices}">
        <td th:text="${ms.name}" />
        <td th:text="${ms.port}" />
    </tr>
</table>
<hr>
<form method="post" action="http://localhost:10000/serviceremoval">
    <input type="submit" value="Remove service you just installed :)">
    <input type="hidden" name="name" th:value="${microservice.getName()}">
</form>
</body>
</html>