<th:block th:include="global/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1 class="schedule">Create lecture</h1>
    <a href="../index" class="button right">Back</a>
</div>
<label>Course:</label>
<p th:text="${selectedcourse.name}" class="disabledinput"></p>
<form class="schedule" method="post" action="" th:object="${lecture}">
    <input type="text" name="course.id" id="course.id" th:value="${selectedcourseid}" style="display:none;">
    <label>Start date and time:</label>
    <input type="datetime-local" th:field="*{startdatetime}" placeholder="Must be written in the format yyyy-MM-dd HH:mm f.x. 2020-01-10 10:15">
    <p class="errortext" th:if="${#fields.hasErrors('startdatetime')}">The datetime format is not valid.</p>
    <label>End date and time:</label>
    <input type="datetime-local" th:field="*{enddatetime}" placeholder="Must be written in the format yyyy-MM-dd HH:mm f.x. 2020-01-10 12:15">
    <p class="errortext" th:if="${#fields.hasErrors('enddatetime')}">The datetime format is not valid.</p>
    <label>Location:</label>
    <input type="text" th:field="*{location}">
    <p class="errortext" th:if="${#fields.hasErrors('enddatetime')}">The location format is not valid.</p>
    <label>Teachers:</label>
    <select th:field="*{teachers}" size="10" multiple>
        <th:block th:each="teachergrp : ${selectedcourse.teachers}" th:if="${selectedcourse != null}">
            <th:block th:each="teacher : ${teachergrp.users}">
                <th:block th:if="${lecture.teachers.contains(teacher)}">
                    <option th:value="${teacher.id}" th:text="${teacher.displayname + '(' + teacher.identifier + ')'}" SELECTED="SELECTED"></option>
                </th:block>
                <th:block th:unless="${lecture.teachers.contains(teacher)}">
                    <option th:value="${teacher.id}" th:text="${teacher.displayname + '(' + teacher.identifier + ')'}"></option>
                </th:block>
            </th:block>
        </th:block>
    </select>
    <input type="submit" value="Create">
</form>
<th:block th:include="global/footer.html" th:tag="remove"></th:block>