<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Create Microservice</h1>
    <a href="../" class="button right">Back</a>
</div>
<label>MicroService:</label>
<form method="post" action="" th:object="${microservice}">
    <label>Name:</label>
    <input type="text" th:field="*{name}">
    <p class="errortext" th:if="${#fields.hasErrors('name')}">Name must be unique and a maximum of 50 characters.</p>
    <label>Port:</label>
    <input type="text" th:field="*{port}">
    <p class="errortext" th:if="${#fields.hasErrors('port')}">Port must be between 1024 and 65535.</p>
    <label>Version:</label>
    <input type="text" th:field="*{version}">
    <p class="errortext" th:if="${#fields.hasErrors('version')}">Ineligible version number</p>
    <label>Description:</label>
    <textarea th:field="*{description}"></textarea>
    <p class="errortext" th:if="${#fields.hasErrors('description')}">The max length of the description is XXXX characters.</p>
    <label>Required:</label>
    <input type="checkbox" th:field="*{userRequired}">
    <p class="errortext" th:if="${#fields.hasErrors('userRequired')}"></p>
    <label>Enabled:</label>
    <input type="checkbox" th:field="*{enabled}">
    <p class="errortext" th:if="${#fields.hasErrors('enabled')}"></p>
    <input type="submit" value="Edit">
    <p>Access Groups:
        <select size="10" name="accessgroups" class="form-control" multiple>
            <th:block th:each="group : ${accessgroups}">
                <option th:value="${group.getId()}" th:text="${group.getName()}"></option>
            </th:block>
        </select>
    </p>

</form>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>