<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>View Microservice</h1>
    <a href="../../" class="button right">Back</a>
</div>
<table>
    <tr>
        <th colspan="4">
            MicroService
        </th>
    </tr>
    <!--    <tr>
            <td colspan="4" th:text="${selectedmicroservice.name}"></td>
    </tr> -->
    <tr>
        <th>id</th>
        <th>name</th>
        <th>port</th>
        <th>version</th>
        <th>description</th>
        <th>userRequired</th>
        <th>enabled</th>
        <th>dependencies</th>
        <th>Access</th>
    </tr>
    <tr>
        <td th:text="${microservice.id}"></td>
        <td th:text="${microservice.name}"></td>
        <td th:text="${microservice.port}"></td>
        <td th:text="${microservice.version}"></td>
        <td th:text="${microservice.description}"></td>
        <td th:text="${microservice.userRequired}"></td>
        <td><input type="checkbox" name="" th:checked="${microservice.enabled}"></td>
        <td th:text="${microservice.dependencyMicroserviceId}"></td>
        <td>
            <th:block th:each="grp, iter: ${microservice.getAccessgroups()}" th:remove="tag"><th:block th:text="${grp.name}" th:if="${iter.index == 0}"></th:block><th:block th:text="${', ' + grp.name}" th:if="${iter.index > 0}"></th:block></th:block>
        </td>
    </tr>
</table>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>