<h1>Schedule admin</h1>
<div>
    <h1>Courses</h1>
    <a href="./courses/create/">Create course</a><br/>
    <a href="./courses/index/">View active courses</a><br/>
    <a href="./courses/viewall/">View all courses</a><br/>
    <h1>Subject prioritizer</h1>
    <a href="./subjectpriorities/create/">Add new subject priority</a><br/>
    <a href="./subjectpriorities/index/">View all subject priorities</a><br/>
    <h1>keaplan.kea.dk</h1>
    Webpage was last scrabed d/M Y.<br/><br/>
    <i>Note: When the webpage is scrabed, rooms and teacher for specific lectures are updated.<br/>
    If lectures are found on keaplan.kea.dk they are added to the course that matches the name. <br/>
        If no course is found, a new course is created for the lectures. Any ground matching course name is added as students to the course.</i><br/>
</div>
