<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html { visibility:hidden; }
    </style>
    <script th:src="@{/js/jquery_3_4_1.js}"></script>
    <script th:src="@{/js/default.js}"></script>
    <script>
        $(document).ready(function() {
            document.getElementsByTagName("html")[0].style.visibility = "visible";
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css">
    <style th:inline="text" th:each="pageinjection_css: ${pageinjections_css}" th:if="pageinjection_css.data != null">
        [[${pageinjection_css.data}]]
    </style>
</head>
<body>
<div class="header_nav-admin">
    <span class="logo">Admin mode</span>
</div>
<div class="headermenu">
    <a href="/" class="kea_orange"><img th:src="@{/images/logo-main-black-single.png}" class="kea_orange"></a>
    <a href="/admin/users/">Users</a>
    <a href="/admin/services/">Services</a>
    <a href="/admin/actions/">Actions</a>
    <a href="/admin/pageinjections/">Pageinjections</a>
    <a href="/admin/topmenulinks/">Topmenulinks</a>
</div>

<div class="content">