<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html { visibility:hidden; }
    </style>
    <script th:src="@{/js/jquery_3_4_1.js}"></script>
    <script th:src="@{/js/default.js}"></script>
    <script>
        $(document).ready(function() {
            document.getElementsByTagName("html")[0].style.visibility = "visible";
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css">
</head>
<body>
<div class="header_nav-admin">
    <span class="logo">Admin mode</span>
</div>
<div class="headermenu">
    <a href="/" class="kea_orange homelogo-lg"><img th:src="@{/images/logo-main-black-single.png}" class="kea_orange headermenu_logo-lg"></a>
    <div class="headermenu_nav">
        <a href="/admin/users/">Users</a>
        <a href="/admin/groups/">Groups</a>
        <a href="/admin/importug/">Import Users/Groups</a>
        <a href="/admin/statistics/">Statistics</a>
        <a href="/admin/courses/">Courses</a>

    </div>
    <div id="headermenu_right">
        <a href="/admin/services/">Services</a>
        <a href="/admin/actions/">Actions</a>
        <a href="/admin/pageinjections/">Page Injections</a>
        <a href="/admin/topmenulinks/">Top Menu Links</a>
    </div>
</div>

<div class="content-admin">