<lable>MicroService:</lable>
<form method="post" action="">
    <select name="selectedmicroserviceid" onchange="javascript: form.submit()">
        <option value="0" th:selected="${selectedmicroserviceid == 0} ? 'SELECTED' : ''">Select microservice</option>
        <th:block th:each="service: ${microservices}" th:if="${service != null}">
            <th:block th:if="${selectedmicroserviceid == service.id}">
                <option th:value="${service.id}" th:text="${service.name}" SELECTED></option>
            </th:block>
            <th:block th:unless="${selectedmicroserviceid == service.id}">
                <option th:value="${service.id}" th:text="${service.name}"></option>
            </th:block>
        </th:block>
    </select>
    <p th:text="${selectedmicroserviceid}"></p>
</form>