<th:block th:include="global/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>Edit lecture item</h1>
    <a href="../../index" class="button right">Back</a>
</div>
<th:block th:include="teacher/courseDisplay.html" th:tag="remove"></th:block>
<th:block th:include="teacher/LectureDisplay.html" th:tag="remove"></th:block>
<th:block th:include="teacher/LectureSubjectDisplay.html" th:tag="remove"></th:block>
<form method="post" action="../../edit" th:object="${lectureitem}">
    <input type="text" th:field="*{lecturesubject}" style="display:none;">
    <input type="text" th:field="*{id}" style="display:none;">
    <label>Description</label>
    <input type="text" th:field="*{description}">
    <p class="errortext" th:if="${#fields.hasErrors('description')}">The description format is not valid.</p>
    <label>Priority:</label>
    <input type="text" th:field="*{priority}">
    <p class="errortext" th:if="${#fields.hasErrors('priority')}">The location format is not valid.</p>
    <p>Note: This field is overwritten if the administrator has assigned a priority to the specified subject.</p>
    <input type="submit" value="Edit">
</form>
<th:block th:include="global/footer.html" th:tag="remove"></th:block>