<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index MS1</title>
</head>
<body>
<h2>This is the microservice, its really alive!</h2>
<a href="/setup">Go to setup</a><br/><br/>
<a href="/servicepages/MS1/test">Go to test page</a><br/><br/>
<p>This is a internal call, through MSSetupController</p>
<h3>Test of resourcehander, where we add an alias so we can easy access resources like they where located in main project. See StaticResAlias.java</h3>
<img th:src="@{/smiley.jpg}">
<img th:src="@{/serviceresource/MS1/smiley.jpg}">
<p>Note 2xsmileys should be visible, if all works - they are watching ya!</p>
</body>
</html>