<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup MS1</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        function serviceregistration(){
            alert("Start");
            $.ajax({
                url: 'http://localhost:10000/serviceregistration',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: "MS1",
                    port: 10001,
                    enabled: false
                }),
                success: function() {
                    alert("service registration done!");
                }
            });
        }

        function serviceremoval(){
            alert("Start");
            $.ajax({
                url: 'http://localhost:10000/serviceremoval',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: "MS1"
                }),
                success: function() {
                    alert("serviceremoval done!");
                }
            });
        }

        function serviceaddtopmenulink(){
            alert("Start");
            $.ajax({
                url: 'http://localhost:10000/serviceaddtopmenulink/MS1',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    path: "localhost:10000/service/MS1/test",
                    text: "MS1",
                    description: "This is my description"
                }),
                success: function() {
                    alert("serviceaddtopmenulink done!");
                }
            });
        }

        function serviceaddaction(){
            alert("Start");
            $.ajax({
                url: 'http://localhost:10000/serviceaddaction/MS1',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    callbackurl: "http://localhost:10001/pages/action",
                    actionname: "cron"
                }),
                success: function() {
                    alert("serviceaddaction done!");
                }
            });
        }

        function serviceaddpageinjectionCSS(){
            alert("Start");
            $.ajax({
                url: 'http://localhost:10000/serviceaddpageinjection/MS1',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    type: "CSS",
                    page: "/index.html",
                    data: "h1 { color: green; }",
                    priority: 5
                }),
                success: function() {
                    alert("serviceaddpageinjection CSS done!");
                }
            });
        }

        function serviceaddpageinjectionJS(){
            alert("Start");
            $.ajax({
                url: 'http://localhost:10000/serviceaddpageinjection/MS1',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    type: "JS",
                    page: "/index.html",
                    data: "$( document ).ready(function() { " +
                        " $( '#item' ).prepend('Hello there, what are you?') ; " +
                        "});",
                    priority: 5
                }),
                success: function() {
                    alert("serviceaddpageinjection JS done!");
                }
            });
        }

        function setupall(){
            $.ajax({
                url: 'http://localhost:10001/setupall',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({}),
                success: function() {
                    alert("Everything has been setup!");
                }
            });
        }
    </script>
</head>
<body>
<h2>Your about to setup MS1</h2>
<h3>Manual</h3>
<p>Each button click, calls the appropriate page on the main service - with default test data. - This is done with ajax calls.</p>
<button onclick="javascript: serviceregistration()">serviceregistration</button>
<button onclick="javascript: serviceremoval()">serviceremoval</button>
<button onclick="javascript: serviceaddtopmenulink()">serviceaddtopmenulink</button>
<button onclick="javascript: serviceaddaction()">serviceaddaction</button>
<button onclick="javascript: serviceaddpageinjectionCSS()">serviceaddpageinjection CSS</button>
<button onclick="javascript: serviceaddpageinjectionJS()">serviceaddpageinjection JS</button>
<hr/>
<h3>Automatic</h3>
<p>All the default test data settings are send to the main service. This is done with a server side call.</p>

<button onclick="javascript: setupall()" style="padding: 30px; font-size: 50px">Setup MS1 (all settings)</button>
<!--
<br/>
<br/>
<hr/>

<form action="http://localhost:10000/serviceregistration" method="post">
    <input type="hidden" name="port" value="10001">
    <input type="hidden" name="name" value="MS1">
    <input type="submit" value="manual Install">
</form>
<form action="http://localhost:10000/serviceremoval" method="post">
    <input type="hidden" name="name" value="MS1">
    <input type="submit" value="Uninstall">
</form>
<form action="http://localhost:10000/serviceaddtopmenulink" method="post">
    <input type="hidden" name="path" value="localhost:10000/service/MS1/test">
    <input type="hidden" name="text" value="MS1">
    <input type="hidden" name="description" value="MS1">
    <input type="submit" value="Add link">
</form>
<form action="http://localhost:10000/serviceaddaction" method="post">
    <input type="hidden" name="callbackurl" value="http://localhost:10001/pages/action">
    <input type="hidden" name="priority" value="10">
    <input type="hidden" name="actionname" value="cron">
    <input type="hidden" name="servicename" value="MS1">
    <input type="submit" value="Add action">
</form>
<form action="" method="post">
    <input type="submit" value="Remove all data">
</form>
-->
</body>
</html>