<th:block th:include="/admin/header.html" th:tag="remove"></th:block>
<div class="block">
    <h1>View Service Option</h1>
    <th:block th:if="${selectedmicroserviceid != 0}">
        <a href="../../" class="button right">Back</a>
    </th:block>
</div>
<table>
    <tr>
        <th colspan="4">
            MicroService
        </th>
    </tr>
    <tr>
        <td colspan="4" th:text="${selectedmicroservice.name}"></td>
    </tr>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ACTIVE</th>
        <th>PRIORITY</th>
    </tr>
    <tr>
        <td th:text="${microserviceoption.id}"></td>
        <td th:text="${microserviceoption.name}"></td>
        <td th:text="${microserviceoption.active}"></td>
        <td th:text="${microserviceoption.priority}"></td>

    </tr>
    <tr>
        <th colspan="4">
            DESCRIPTION
        </th>
    </tr>
    <tr>
        <td colspan="4" th:text="${microserviceoption.description}"></td>
    </tr>
</table>
<th:block th:include="/admin/footer.html" th:tag="remove"></th:block>